.navbar{
  margin-bottom:0;
  border:0;
}

.jumbotron{
  background: #e7e7e7;
}

body {
  background-color: #BBC2C4;
}

/* <img src="https://w-dog.net/wallpapers/1/13/516309369676953/subaru-impreza-wrx-sti-winter-snow-machine-subaru-car-wallpaper-wallpapers.jpg" alt="Mountain View" width="500" height="377"> */
